:host {
  display: block;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 200px; // Ensure space for footer
  font-family: 'Delight', sans-serif;
  line-height: 2em;
}
.header{
  font-size: 1.5rem;
  line-height: 2em;
}