<div id="wrap">
  <h1 data-splitting="words">Issue Highlights</h1>
  <p class="subhead">Discover compelling stories from our latest publication</p>

  <div class="panel" *ngFor="let category of categories; let i = index" [attr.data-index]="i">
    <h2 data-splitting="words">{{ category.title }}</h2>
    <div class="thumb">
      <!-- <p>{{ getCategoryType(i) }}</p> -->
      <div class="inner">
        <img [src]="category.imageUrl || getPlaceholderImage(i)" [alt]="category.title" loading="lazy"
          (load)="onImageLoad($event)" (error)="onImageError($event, i)" />
      </div>
    </div>
  </div>
  <a (click)="onViewPDF()" class="explore-subhead">
    <p class="subhead final">Explore More</p>
  </a>

</div>