<div class="latest-section" id="latest-issue-section">
  <section id="productive" class="pt-0 mt-0">
    <div class="flex flex-col items-center pt-0 mt-0">
      <!-- Loading State -->
      <div *ngIf="loading" class="flex justify-center items-center min-h-[50vh]">
        <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-stone-900"></div>
      </div>

      <!-- Error State -->
      <div *ngIf="error" class="text-center py-8">
        <h2 class="text-2xl font-bold text-red-600">Error loading latest issue</h2>
        <p class="mt-2">Please try again later</p>
      </div>

      <!-- Content -->
      <ng-container *ngIf="!loading && !error && currentIssue">

        <!-- Overlapping container for logo and magazine cover/preview -->
        <div class="overlap-container">
          <!-- TRUE BREAD Logo -->
          <div class="latest-issue-logo-container mx-auto">
            <h1 class="latest-issue-title">TRUE BREAD</h1>
          </div>
          <!-- Magazine Cover -->
          <div class="max-w-sm mb-8">
            <div class="relative group">
              <img [src]="currentIssue.coverImage" [alt]="currentIssue.month + ' Issue Cover'"
                class="w-full h-auto transition-transform duration-500 group-hover:scale-105" />
            </div>
          </div>

        </div>
        <!-- Header -->
        <div class="text-center mb-4">
          <h2 class="text-2xl font-medium font-delight">
            Issue #{{ currentIssue.issueNumber }}
          </h2>
        </div>
        <!-- Actions -->
        <div class="flex items-center space-x-6 mb-4">
          <button (click)="onViewPDF()" class="button js-button">
            <span class="button__inner">
              <span class="button__text js-button__text">Read More</span>
              <span class="button__hover js-button__hover">Read More</span>
            </span>
          </button>
          <button (click)="onDownloadPDF()" class="button js-button">
            <span class="button__inner">
              <span class="button__text js-button__text">Download</span>
              <span class="button__hover js-button__hover">Download</span>
            </span>
          </button>
        </div>
      </ng-container>
    </div>
  </section>
</div>
<!-- <div>
  <ng-container *ngIf="!loading && !error && currentIssue">
    <div class="preview-container mb-5">
      <app-infinite-scroll-cards [pdfId]="currentIssue.id" [cardCount]="5">
      </app-infinite-scroll-cards>
    </div>
  </ng-container>
</div> -->

<!-- Issue Highlights Section -->
<div>
  <ng-container *ngIf="!loading && !error && currentIssue">
    <app-issue-highlights [pdfId]="currentIssue.id" [cardCount]="6">
    </app-issue-highlights>
  </ng-container>
</div>