// Colors
$primary-color: #000;
$secondary-color: #fff;

// Typography
$font-family-primary: 'Cosi Times', serif;
$font-family-secondary: 'CLT Absans', sans-serif;
$font-family-archivo: 'Archivo Black', sans-serif;
$font-family-cormorant: 'Cormorant SC', serif;
$font-family-spectral: 'Spectral', serif;

// Breakpoints
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

// Z-index
$z-preloader: 9999;
$z-header: 1000;

