// Colors
$primary-color: #000;
$secondary-color: #fff;

// Typography
$font-family-secondary: 'CLT Absans', sans-serif;

// Breakpoints
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

// Z-index
$z-preloader: 9999;
$z-header: 1000;

