/* CLT Absans - Used in preloader component */
@font-face {
    font-family: 'CLT Absans';
    src: url('/assets/fonts/CLT Absans/web/Absans-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Montserrat Bold - Used in header menu */
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/assets/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* Delight Fonts - Used extensively throughout the app */
@font-face {
    font-family:'Delight';
    src: url('/assets/fonts/Delight/Web-PS/Delight-Regular.otf') format('opentype'),
        url('/assets/fonts/Delight/Web-PS/Delight-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family:'Delight-Bold';
    src: url('/assets/fonts/Delight/Web-PS/Delight-Bold.otf') format('opentype'),
        url('/assets/fonts/Delight/Web-PS/Delight-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family:'Delight-Italic';
    src: url('/assets/fonts/Delight/Web-PS/Delight-Italic.otf') format('opentype'),
        url('/assets/fonts/Delight/Web-PS/Delight-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Delight-Black';
    src: url('/assets/fonts/Delight/Web-PS/Delight-Black.otf') format('opentype'),
        url('/assets/fonts/Delight/Web-PS/Delight-Black.woff2') format('woff2');
    font-style: normal;
    font-weight: 900;
    text-rendering: optimizeLegibility;
}







