<section #spotlight class="spotlight">
  <!-- Single Main Section with background image -->
  <div class="spotlight-main-section">
    <!-- Background image for the main section -->
    <div #bgImg class="spotlight-bg-img">
      <img src="assets/images/static-background.jpg" alt="True Bread Background" />
    </div>



    <!-- Clip-path lines as separate elements -->
    <div class="spotlight-lines">
      <div class="spotlight-line spotlight-line-top"></div>
      <div class="spotlight-line spotlight-line-bottom"></div>
    </div>

    <div #titlesContainerElement class="spotlight-titles-container">
      <div #titlesContainer class="spotlight-titles">
        <h1 *ngFor="let item of spotlightItems">{{ item.name }}</h1>
      </div>
    </div>

    <div #imagesContainer class="spotlight-images">
      <div class="spotlight-img" *ngFor="let item of spotlightItems">
        <img [src]="item.img" alt="" (load)="onImageLoad()" />
      </div>
    </div>

    <div #spotlightHeader class="spotlight-header">
      <p>Discover</p>
    </div>
  </div>
</section>