<div class="menu" #menuElement>
  <div class="col col-1">
    <div class="menu-logo">
      <a [routerLink]="['/']">True Bread</a>
    </div>
    <div class="links">
      <div class="link " *ngFor="let link of links">
        <a [routerLink]="[link.url]" (click)="navigateToRoute(link.url)">{{link.text}}</a>
      </div>
    </div>

  </div>
  <div class="col col-2">
    <div class="menu-links-container">
      <div class="socials">
        <div class="sub-col">
          <p class="pb-5 font-bold">Follow Us</p>
          <p *ngFor="let social of socialLinks">{{social}}</p>
        </div>
      </div>

      <!-- Subscribe Link -->
      <div class="subscribe-link-container">
        <div class="sub-col">
          <p class="pb-5 font-bold">Subscribe</p>
          <p class="link" (click)="navigateToRoute('/subscribe')">Join Our Newsletter</p>
        </div>
      </div>
    </div>
  </div>
</div>