<div class="menu" #menuElement>
  <div class="col col-1">
    <div class="menu-logo">
      <a [routerLink]="['/']">True Bread</a>
    </div>
    <div class="links">
      <div class="link" *ngFor="let link of links">
        <a [routerLink]="[link.url]" (click)="navigateToRoute(link.url)" [attr.data-text]="link.text">
          <span class="text-original">{{link.text}}</span>
        </a>
      </div>
    </div>

  </div>
  <div class="col col-2">
    <div class="menu-links-container">
      <div class="socials">
        <div class="sub-col">
          <p class="pb-5 font-bold">Socials</p>
          <p *ngFor="let social of socialLinks">
            <a [href]="social.url" target="_blank" rel="noopener noreferrer"
              [title]="'Visit our ' + social.name + ' page'" [attr.data-text]="social.name">
              <span class="text-original">{{social.name}}</span>
            </a>
          </p>
        </div>
      </div>

      <!-- Subscribe Link -->
      <div class="subscribe-link-container">
        <div class="socials">
          <div class="sub-col">
            <p class="pb-5 font-bold">Subscribe</p>
            <p class="link" (click)="navigateToRoute('/subscribe')" data-text="Join Our Newsletter">
              <span class="text-original">Join Our Newsletter</span>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>